{% assign title = article.metafields.global.about_artist.value.title %}
{% assign image = article.metafields.global.about_artist.value.artist_image %}
{% assign text = article.metafields.global.about_artist.value.text %}

{% capture questions %}
  {% if article.metafields.global.qestion_1 != blank %}
    <li>
    {{article.metafields.global.qestion_1}}
    </li>
    {% endif %}
    {% if article.metafields.global.qestion_2 != blank %}
    <li>
    {{article.metafields.global.qestion_2}}
    </li>
    {% endif %}
    {% if article.metafields.global.question_3 != blank %}
    <li>
    {{article.metafields.global.question_3}}
    </li>
    {% endif %}
    {% if article.metafields.global.question_4 != blank %}
    <li>
    {{article.metafields.global.question_4}}
    </li>
    {% endif %}
{% endcapture %}

{% if questions != blank and article.metafields.global.question_image !=blank %}
<div class="about-artist-section page-width--narrow page-width">
  <div class="grid">
    <div class="title">
      {% comment %} <h2 class="h1">{{article.metafields.global.author}}'s IN <span>FEW</span></h2> {% endcomment %}
      <h2 class="h1">{{article.title}}'s IN <span>FEW</span></h2>
    </div>
    <div class="image">
      <div class="media" style="padding-bottom: 130%;">
        <img src="{{article.metafields.global.question_image}}" loading="lazy" width="356" height="485" >
      </div>
    </div>
    <div class="content">
      <div class="info">
        <ul>
          {{questions}}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}
