{% if article.metafields.global.cymbal_setip_image == blank %}
<style>
#shopify-section-{{ section.id }} .article-template{
  display: none;
}
</style>
{% endif %}
<article class="article-template">
<div artist1 class="image-with-text image-with-text--no-overlap   isolate collapse-corners section-543c39e1-2e95-4a79-9cb1-c4edf029d1f7-padding">
  <div class="image-with-text__grid grid grid--gapless grid--1-col width--medium  ">
    <div class="image-with-text__media-item  gradient color-background-2 image-with-text__media-item--medium image-with-text__media-item--top grid__item">
      <div class="image-with-text__media image-with-text__media--adapt global-media-settings media" style="padding-bottom: 55%;">
        {% for block in section.blocks %}
          {% assign getblog = block.settings.arti_blg %}
          {% assign artttl = article.title %}
          {% if article.metafields.global.cymbal_setip_image !=blank %}
            {% assign img_name = article.metafields.global.cymbal_setip_image | split: "/" %}
            <img src="{{img_name.last | file_url}}"  loading="lazy">
          {% else %}
            <img src="{{ block.settings.get_imm | img_url: 'master'}}" loading="lazy">
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="image-with-text__text-item grid__item">
      <div id="ImageWithText--543c39e1-2e95-4a79-9cb1-c4edf029d1f7" class="image-with-text__content horizontal-align-content--middle image-with-text__content--top image-with-text__content--desktop-left image-with-text__content--mobile-left image-with-text__content--adapt gradient color-background-2 content-container">
        <div class="info" style="max-width: 450px;">
          <div class="text">
            {% for block in section.blocks %}
              {% assign getblog = block.settings.arti_blg %}
              {% assign artttl = article.title %}
              {% if getblog.title == getblog.title  %}
                  <h2 class="image-with-text__heading h2">
                    {{ block.settings.get_imm2 }}
                    {% comment %} {{article.title}}'S IN {% endcomment %}
                  </h2>
                  <div class="image-with-text__text rte ">
                    <div class="content" 1>
                      {% if article.metafields.global.cymbals_setup != blank %}
                        {% assign cymblas_list = article.metafields.global.cymbals_setup | split: ","  %}
                        <ol>
                        {% for cymblas_item in cymblas_list %}
                          <li>{{cymblas_item}}</li>
                        {% endfor %}
                        </ol>
                        <p>* May be prototype</p>
                      {%  else %}
                      {{ block.settings.get_imm3 }}
                      {% endif %}
                      
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</article>
<style>
  .section-543c39e1-2e95-4a79-9cb1-c4edf029d1f7-padding{
    padding-bottom: 36px;
  }.isolate {
    position: relative;
    z-index: 0;
}.image-with-text .image-with-text__grid.width--medium .image-with-text__media-item, .image-with-text .image-with-text__grid.width--medium .image-with-text__text-item {
    width: 50%;
}.image-with-text__content {
    {% comment %} padding: 6rem 5rem 7rem; {% endcomment %}
    padding: 1rem 5rem;
}.image-with-text .image-with-text__grid .image-with-text__text-item .image-with-text__content.horizontal-align-content--middle .info {
    margin: auto;
}.image-with-text__media img {
    object-fit: contain;
}.new-art-imm .image-with-text__content {
    padding-top: 20px;
}.new-art-imm h2.image-with-text__heading.h2 {
    margin-top: 0;
}
.article-template .image-with-text .image-with-text__grid .image-with-text__text-item{
    margin-top: 0px;
}
.article-template .about-artist-section{
  padding: 0 10px;
}
@media only screen and (max-width: 767px) {
.image-with-text .image-with-text__grid.width--medium .image-with-text__media-item, .image-with-text .image-with-text__grid.width--medium .image-with-text__text-item {
    width: 100%;
}
}
</style>
{% schema %}
  {
    "name": "Artist Decription",
    "blocks": [
        {
          "type": "text",
          "name": "Description Portion",
          "settings":[
            {
              "type": "article",
              "id": "arti_blg",
              "label": "Select Article"
            },
            {
              "type": "header",
              "content": "Image With text"
            },
            {
              "type": "image_picker",
              "id": "get_imm",
              "label": "Image"
            },
            {
              "type": "text",
              "id": "get_imm2",
              "label": "Title"
            },
            {
              "type": "richtext",
              "id": "get_imm3",
              "label": "Content"
            }
          ] 
        }
    ],
    "presets":[
      {
        "name": "Main Artist Article"
      }
    ]
  }
{% endschema %}