<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
<div
          class="article-template__content page-width page-width--narrow rte"
          itemprop="articleBody"
          {{ block.shopify_attributes }}
        >
          {{ article.content }}
         {% if article.metafields.global.education_video_text_3 != blank or article.metafields.global.education_video_text_2 != blank or article.metafields.global.education_video_text_1 != blank %}
          <ul class="content">
            {% if article.metafields.global.education_video_text_1 != blank %}
              {% assign content_list = article.metafields.global.education_video_text_1 | split: '<--/-->' %}
              <li>
                {% for content_val in content_list %}
                {% if content_val contains 'youtu' %}
                  {% assign video_id = content_val | split: '/' | last %}
                  <iframe 
                    width="1220" 
                    height="686" 
                    src="{{ 'https://www.youtube.com/embed/' | append: video_id }}" 
                    title="{{article.title}}" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    allowfullscreen=""
                  ></iframe> 
                {% else %}
                  <div class="text">
                    <p>{{content_val}}</p>
                  </div>
                {% endif %}
                {% endfor %}
              </li> 
            {% endif %}
            {% if article.metafields.global.education_video_text_2 != blank %}
              {% assign content_list = article.metafields.global.education_video_text_2 | split: '<--/-->' %}
              <li>
                {% for content_val in content_list %}
                {% if content_val contains 'youtu' %}
                  {% assign video_id = content_val | split: '/' | last %}
                  <iframe 
                    width="1220" 
                    height="686" 
                    src="{{ 'https://www.youtube.com/embed/' | append: video_id }}" 
                    title="{{article.title}}" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    allowfullscreen=""
                  ></iframe> 
                {% else %}
                <div class="text">
                  <p>{{content_val}}</p>
                </div>
                {% endif %}
                {% endfor %}
              </li> 
            {% endif %}
            {% if article.metafields.global.education_video_text_3 != blank %}
              {% assign content_list = article.metafields.global.education_video_text_3 | split: '<--/-->' %}
              <li>
                {% for content_val in content_list %}
                {% if content_val contains 'youtu' %}
                  {% assign video_id = content_val | split: '/' | last %}
                  <iframe 
                    width="1220" 
                    height="686" 
                    src="{{ 'https://www.youtube.com/embed/' | append: video_id }}" 
                    title="{{article.title}}" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    allowfullscreen=""
                  ></iframe> 
                {% else %}
                <div class="text">
                  <p>{{content_val}}</p>
                </div>
                {% endif %}
                {% endfor %}
              </li> 
            {% endif %}
          </ul>
          {% endif %}
          {% if article.metafields.global.quote != blank %}
          <div class="quote">
            <p>{{article.metafields.global.quote}}</p>
          </div>
          {% endif %}
        </div>
</article>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}